<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
	<link rel="stylesheet" href="css/style.css">
    <title>Controle de Livros</title>
</head>
<body>

    {{{body}}}

</body>
</html>