*{
    margin: 0;
    padding: 0;
}


header h1{
    font-size: 40px;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: 0em;
    text-align: left;

    font-family: 'Tauri', sans-serif;
    color: #2B2136;
}

header h2{
    font-family: 'Tauri', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: left;

    color: #99959D;
}

body{
    width: 100%;
    height: 100vh;

    display: flex;
    flex-direction: column;

    background-color: #F5F5F5;
}

form h1{
    font-family: sans-serif;
    margin-bottom: 1.6em;
    margin-right: 18em;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: 0 auto;
    margin-top: 5em;
    width: 950px;
    height: 716px;
    left: 193px;
    top: 253px;
   
    padding: 1em;
    background: #FFFFFF;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.05);
    border-radius: 25px;
    
}

input{
    box-sizing: border-box;
    
    width: 894px;
    height: 69px;
    left: 270px;
    top: 440px;

    background: #FFFFFF;
    border: 3px solid #F5F5F5;
    border-radius: 10px;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
}

.cadastrar{
    margin-top: 3em;
    width: 894px;
    height: 54px;
    left: 270px;
    top: 837px;

    background: #2B2136;
    border-radius: 10px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
}

form div + div {
    margin-top: 2em;
}

::placeholder{
    color:#2B2136;
    padding: 20px;
}

table, th, td {
    border:1px solid black;
}