<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Página 1</title>
    <link rel="stylesheet" href="questao6.css">
</head>
<body>
    <h1>Interação Node.js e MySQL</h1>
    <form action='/books/insertbook' method='POST'>
        <div class="form-control">
            <label for="title">Título: </label>
            <input type="text" name="title" placeholder="Digite o título do livro"/>
        </div>
        <div class="form-control">
            <label for="pages">Qdt. de páginas: </label>
            <input type="number" name="pages" placeholder="Digite o número de páginas"/>
        </div>
        <div>
            <input type="submit" value="Cadastrar"/>
        </div>
    </form>
</body>
</html>